<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfImageToText.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfImageToText.Properties.Settings>
            <setting name="Paramètre" serializeAs="String">
                <value>WindowWidth (Type: double, Valeur par défaut: 900)</value>
            </setting>
            <setting name="Paramètre1" serializeAs="String">
                <value>WindowHeight (Type: double, Valeur par défaut: 600)</value>
            </setting>
            <setting name="Paramètre2" serializeAs="String">
                <value>WindowLeft (Type: double, Valeur par défaut: 100)</value>
            </setting>
            <setting name="Paramètre3" serializeAs="String">
                <value>WindowTop (Type: double, Valeur par défaut: 100)</value>
            </setting>
            <setting name="ThemeParameter" serializeAs="String">
                <value>"light" (comme valeur par défaut)</value>
            </setting>
            <setting name="LanguageParameter" serializeAs="String">
                <value>fr</value>
            </setting>
        </WpfImageToText.Properties.Settings>
    </userSettings>
</configuration>